Host IP:
{{ ansible_default_ipv4.address }}
Public listen ports:
{{ open_ports.stdout }}


Username:
{{ user_name }}
Password:
{{ user_pass }}

Django admin:
{{ admin_user }}
Django admin pass:
{{ admin_pass }}

MySql DB:
{{ mysql_db }}
MySql user:
{{ mysql_user }}
MySql user pass:
{{ mysql_pass }}


Onion domain:
{{ onion_domain }}

Private key:

{{ private_key }}


